body {
  font-family: Helvetica;
  font-weight: normal;
}

.row gy-500 p-4 {
  position: relative;
  max-width: 1200px;
  margin-left: 12%;
  margin-top: 5%;
}

#footer {
  clear: both;
  height: 350px;
  width: 100%;
  z-index: 7;
  background-color: #0d28a6;
  color: #ffffff;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 12px 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-lg-6 d-flex flex-column py-auto {
  display: flex;
  align-items: center;
}

.centang {
  margin-left: 1rem;
  margin-top: 0, 5rem;
}

.judul {
  margin-top: 1rem;
}

/* .btn-dropdown-custom {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
} */

/* Saat tombol ditekan, berubah warna menjadi hijau */
/* .btn-dropdown-custom:focus,
.btn-dropdown-custom:active,
.btn-dropdown-custom.show {
  background-color: green;
  color: white;
  border-color: green;
} */

/* Ubah warna ikon (jika ada) saat dropdown terbuka */
/* .btn-dropdown-custom i {
  color: black;
}

.btn-dropdown-custom.show i {
  color: white;
} */

.button-register {
  height: 50px;
  width: 100px;
  margin-top: 15px;
  color: #ffffff;
  background-color: #5cb85c;
  border-radius: 4px;
}
.floating-form{
  margin-top: -30px;
  margin-bottom: -30px;
  position: relative;
  z-index: 10;
}
.card-img {
  width: 100%; /* Menyesuaikan lebar gambar dengan kartu */
  height: 200px; /* Atur tinggi tetap untuk semua gambar */
  object-fit: cover; /* Gambar akan dipotong untuk mengisi kotak tanpa mengubah rasio aspek */
}

.kartu {
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
}

.kartu:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.kartu:active {
  transform: scale(0.98);
  transition: all 0.1s ease-in;
}

@media (max-width: 768px) {
  .kartu {
    margin-bottom: 20px;
  }

  .kartu:hover {
    transform: none;
  }

  .kartu:active {
    transform: scale(0.98);
  }
  .card {
    margin-bottom: 20px;
  }
}
